<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{admin/admin_layout}">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
</head>

<body>
    <div layout:fragment="admin_content">

        <div class="container mt-5">
            
            <h3 class="mb-4"><b>Products</b></h3>
            <a class="btn btn-success my-2 mb-4" href="#" th:href="@{/admin/products/add}"><b class="h4"> <i class="bi bi-plus-lg"></i> ADD PRODUCT</b></a>
            
            <!-- Filters -->
            <div class="row">
                <form action="#" th:action="@{/admin/products}" th:method="get">
                    <div class="row g-3 mb-3">
                        <div class="col-auto">
                            <div>
                                <label for="search" class="form-label">Search product</label>
                                <input class="form-control" th:value="${search}" type="text" name="search" placeholder="Search by keyword">
                            </div>
                        </div>
                        <div class="col-auto align-self-end">
                            <button class="btn btn-primary" type="submit">Search</button>
                        </div>
                    </div>
                </form>
            </div>

            <!-- Product card -->
            <div class="container card-container-admin px-0 my-5">
                  <div class="w-100" th:each="product:${products}">
                      <div class="card mb-3 product-card-admin overflow-hidden">
                          <div class="row w-100">
                              <div class="col-lg-2 pe-0 text-center pt-4">
                                  <img src="..." th:src="${product.image}" class="w-75 border-0" alt="...">
                                </div>
                                <div class="col-lg-8">
                                    <div class="card-body">
                                        <h5 class="card-title" th:text="'ID #' +${product.id}"></h5>
                                        <!-- Dynamic star rating -->
                                        <span th:each="i : ${#numbers.sequence(1, 5)}">
                                            <i th:class="${{product.rating}} ge ${#numbers.formatDecimal(i,1,1)} - 0.5 ? 'bi bi-star-fill' : 'bi bi-star'"></i>
                                        </span>
                                        <span class="ms-2 h6" th:text="${product.rating}"></span>
                                    <a href="#" th:href="@{/product/{id}(id=${product.id})}" class="text-decoration-none text-dark product-card-admin">
                                        <h5 class="card-title" th:text="${product.name}"></h5>
                                    </a>
                                    <h4 th:text="'£' + ${product.price}">£79.99</h4>
                                    <span th:text="'Stock ' + ${product.stock}" th:classappend="${product.stock == 0} ? 'alert alert-danger py-0' : (${product.stock <= 4}? 'alert alert-info py-0' : 'alert alert-success py-0' )">£79.99</span>
                                    <div class="row w-100 my-2">
                                        <div class="col-xl-2 text-start h6" th:text="'Make: ' + ${product.make}"></div>
                                        <div class="col-xl-2 text-start h6" th:text="'Model: ' + ${product.model}"></div>
                                        <div class="col-xl-3 text-start h6" th:text="'Category: ' + ${product.category}"></div>
                                    </div>
                                    <p class="card-text" th:text="${product.description}"></p>
                                  </div>
                                </div>
                                <div class="col-12 col-lg-2 text-end"><a class="btn btn-primary my-4" th:href="@{/admin/products/edit/{id}(id=${product.id})}" href=""><i class="bi bi-pencil-square"></i> Edit</a></div>
                              </div>
                          </div>
                  </div>
              </div>

        </div>

    </div>
</body>
</html>