<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar</title>
</head>

<body>
    <div th:fragment="navbar">
        <!-- The navbar -->
        <nav class="navbar navbar-dark navbar-expand-lg bg-dark sticky-top"data-bs-theme="dark">
            <div class="container">
              <a class="navbar-brand" href="#" th:href="@{/}">
                <!-- <i class="bi bi-car-front-fill"></i> -->
                <img src="" th:src="@{/images/automods-logo-white-transparent-300.png}" alt="" class="px-1 logo">
                <span class="me-5"><b>AUTO MODS</b></span>
              </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#" th:href="@{/store}">Store</a>
                  </li>
                  
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Car Parts
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" th:href="@{/store/category/{category}(category= 'Coilovers')}">Coilovers</a></li>
                      <li><a class="dropdown-item" th:href="@{/store/category/{category}(category= 'Turbo')}">Turbo Kits</a></li>
                      <li><a class="dropdown-item" th:href="@{/store/category/{category}(category= 'Brakes')}">Big Brake Kits</a></li>
                      <li><a class="dropdown-item" th:href="@{/store/category/{category}(category= 'Oils')}">Engine Oils</a></li>
                      <li><a class="dropdown-item" th:href="@{/store/category/{category}(category= 'Batteries')}">Batteries</a></li>
                    </ul>
                  </li>
        
                  <li class="nav-item"><a class="nav-link" th:href="@{/contact}">Contact</a></li>
                  <li class="nav-item"><a class="nav-link" th:href="@{/about}">About</a></li>
                </ul>
        
        
                <!-- Search Bar -->
                <form class="d-flex me-5" role="search" action="#" th:action="@{/store/search}">
                  <input class="form-control me-2" type="search" placeholder="Search" th:name = "searchValue"aria-label="Search">
                  <button class="btn btn-outline-light" type="submit"><i class="bi bi-search"></i></button>
                </form>
        
                <!-- User Links -->
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 align-items-lg-center flex-wrap">
                    <li class="nav-item"><a class="nav-link" href="#" th:href="@{/orders}">Orders</a></li>
                    <li class="nav-item" th:if="${loggedUser eq null}"><a class="nav-link" href="#" th:href="@{/login}"><i class="bi bi-person-fill"></i>Login</a></li>
                    <li class="nav-item" th:if="${loggedUser}"><span class="nav-link text-capitalize">
                      <span><i class="bi bi-person-fill"></i></span> <span th:text="${loggedUser}"></span>
                    </span></li>
                    <li class="nav-item" th:if="${loggedUser eq null}"><a class="nav-link" href="#" th:href="@{/register}">Register</a></li>
                    <li class="nav-item" th:if="${loggedUser}"><a class="nav-link" href="#" th:href="@{/logout}"><i class="bi bi-box-arrow-right"></i> Logout</a></li>
                    <li class="nav-item">
                        <span>
                            <a class="nav-link" href="#" th:href="@{/basket}">
                                <i class="bi bi-cart h2"></i>
                                <span class="position-relative translate-middle-y p-2 bg-primary badge rounded-pill" th:if="${basketCount != null}" th:text="${basketCount}"></span>
                            </a>
                        </span>
                    </li>
                    <li class="nav-item" th:if="${#strings.equals(userRole, 'ROLE_ADMIN')}"><a class="nav-link" href="#" th:href="@{/admin}">Admin</a></li>
                </ul>

              </div>
            </div>
          </nav>
    </div>
</body>

</html>