<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Basket</title>
</head>

<body>
<div layout:fragment="content">
    <div class="d-flex flex-column container align-items-center mb-0">
        <!-- Error and Success alerts -->
        <div th:if="${orderCancelSuccess}" class="alert alert-success alert-dismissible fade show mt-4" role="alert">
            <span class="h5" th:text="${orderCancelSuccess}"></span>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <div th:if="${orderSuccess}" class="alert alert-success alert-dismissible fade show mt-4" role="alert">
            <span class="h5" th:text="${orderSuccess}"></span>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <div th:if="${orderNotFound}" class="alert alert-danger alert-dismissible fade show mt-4" role="alert">
            <span class="h5" th:text="${orderNotFound}"></span>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>


        <h2 class="text-center my-5">My Orders</h2>

        <div th:each="order : ${orders}">
            <div class="card product-card mb-5 mt-2">
                <div class="card-header border-0 bg-white mt-2">
                    <div class="row">
                        <div class="col-lg-2 col-6 order-0 order-lg-0 h5">
                            <span class="badge rounded-pill bg-secondary-subtle text-secondary">Order <span class="text-dark" th:text="'#'+${order.id}"></span></span>
                        </div>
                        <div class="col-lg-4 order-2 order-lg-2" th:text="'Order placed: ' + ${#temporals.format(order.dateCreated, 'dd MMM yyyy')}"></div>
                        <div class="col-lg-3 order-3 order-lg-3">
                            <span>Deliver to </span><span class="text-capitalize" th:text="${order.user.name}"></span>
                        </div>
                        <div class="col-lg-3 col-6 order-1 order-lg-3 text-end h5">
                            <span th:text="${order.status}" th:classappend="
                                                            ${#strings.equals(order.status, 'DELIVERED')}    ? 'badge rounded-pill bg-success-subtle text-success' 
                                                            : (${#strings.equals(order.status, 'CANCELLED')}    ? 'badge rounded-pill bg-danger-subtle text-danger' 
                                                            : (${#strings.equals(order.status, 'ORDERED')}      ? 'badge rounded-pill bg-info-subtle text-info'))">
                            </span>
                        </div>
                    </div>
                    <hr class="mb-0 text-secondary">
                </div>

                <div class="row" th:each="orderProduct : ${order.orderProducts}">
                    
                    <div class="col-4 col-lg-4 mt-lg-1 mt-4">
                        <a href="#" th:href="@{/product/{id}(id=${orderProduct.product.id})}" class="text-decoration-none link-dark"> <!--when user clicks the image it should redirect them to the product-->
                            <img th:src="${orderProduct.product.image}" alt="" class="img-thumbnail border-0 w-auto"/>
                        </a>
                    </div>

                    <div class="col-8 col-lg-8">
                        <div class="row mt-4 card-body">
                            <div class="col-lg-8">
                                <h5 class="card-title" th:text="${orderProduct.product.name}">Name: Turbo</h5>
                                <div class="mt-3">
                                    <span class="card-text text-secondary pe-3 border-end" th:text="${orderProduct.product.make}"></span>
                                    <span class="card-text text-secondary pe-3 border-end ps-3" th:text="${orderProduct.product.model}"></span>
                                    <span class="card-text text-secondary ps-3" th:text="${orderProduct.product.category}"></span>
                                </div>
                            </div>

                            <div class="col-lg-4 text-lg-end mt-4 mt-lg-0">
                                <div class="row">
                                    <div class="col-lg-12 col-6">
                                        <span class="h5" th:text="'£' + ${orderProduct.product.price}"></span>
                                    </div>
                                    <div class="col-lg-12 col-6 text-end">
                                        <span class="text-secondary">Quantity: <span th:text="${orderProduct.quantity}"></span> </span>
                                    </div>
                                </div>
                            </div>
                            
                        </div>

                        <div class="row card-body">
                            <div class="col-md-4"><span><a th:href="@{/product/{id}(id=${orderProduct.product.id})}" class="btn btn-primary w-100 my-1 my-md-0">Buy it again</a></span></div>
                            <div class="col-md-4"><span><a th:href="@{/product/{id}/review (id=${{orderProduct.product.id}})}" class="btn btn-outline-primary me-2 w-100 my-1 my-md-0">Write review</a></span></div>
                        </div>
                    </div>

                </div>
                <!-- End order product loop -->

                <div class="card-footer bg-white border-0 mb-2">
                    <div class="row align-items-center">
                        <div class="col-7">
                            <div th:if="${#strings.equals(order.status, 'ORDERED')}">
                                <a class="btn btn-outline-danger border-0 my-1 my-md-0 text-uppercase" th:href="@{/orders/{id}/cancel (id=${order.id})}"><i class="bi bi-x-lg"></i> Cancel order</a>
                            </div>
                        </div>
                        <div class="col-5 text-end h5">
                            <span>Subtotal</span> <span th:text="'£' +${order.totalPrice}"></span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- End order loop -->
    </div>
</div>
</body>
</html>
