<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
</head>

<body>
    <div layout:fragment="content">
        
        <div class="container d-flex justify-content-center">
            <div class="card p-3 rounded-3 login my-5">
                <div class="card-body">
                    <div class="h3 my-4"><b>Register</b></div>
                    <form class="needs-validation" method="post" action="#" th:action="@{/registerUser}" th:object="${userDTO}">
                        <div class="form-group pb-2">
                            <label class="form-label" for="name">Name</label>
                            <input class="form-control validate" type="text" id="name" name="name" th:field="*{name}">
                            <div id="nameFeedback" class="invalid-feedback">
                                Please enter your name.
                            </div>
                        </div>
                        <div class="form-group pb-2">
                            <label class="form-label" for="username">Username</label>
                            <input class="form-control validate" type="text" id="username" name="username" th:field="*{username}" th:classappend="${usernameTakenError}? 'is-invalid' : '' ">
                            <div class="text-danger" id="usernameTakenError" th:text="${usernameTakenError}"></div>
                            <div id="usernameFeedback" class="invalid-feedback">
                                Please enter a username.
                            </div>
                        </div>
                        <div class="form-group pb-2">
                            <label class="form-label" for="email">Email</label>
                            <input class="form-control validate" type="email" id="email" name="email" th:field="*{email}" th:classappend="${emailTakenError}? 'is-invalid' : '' ">
                            <div class="text-danger" id="emailTakenError" th:text="${emailTakenError}"></div>
                            <div id="emailFeedback" class="invalid-feedback">
                                Please enter a valid email.
                            </div>
                        </div>
                        <div class="form-group pb-2">
                            <label class="form-label" for="password">Password</label>
                            <input class="form-control validate" type="password" id="password" name="password" th:field="*{password}" th:classappend="${param.error}? 'is-invalid' : '' " 
                                    pattern="^(?=.*[A-Z])(?=.*[\W_]).{8,}$" oninvalid="this.setCustomValidity('Password must be at least 8 characters long and contain at least one uppercase letter and one special character (!@#$%^&*)')" 
                                    oninput="this.setCustomValidity('')">
                            <div class="py-0 pt-1 text-secondary password-pattern">Must contain at least 1 uppercase letter, 1 special character, and be at least 8 characters long.</div>
                            <div id="passwordFeedback" class="invalid-feedback">
                                Please enter a strong password.
                            </div>
                        </div>
                        <div class="form-group pb-4">
                            <label class="form-label" for="repeatPassword">Confirm password</label>
                            <input class="form-control validate" type="password" id="repeatPassword" name="repeatPassword">
                            <div id="passwordFeedback" class="invalid-feedback">
                                Passwords do not match.
                            </div>
                        </div>
                        
                        <input class="btn btn-primary w-100" id="submit" type="submit" value="REGISTER">

                        <div class="mt-3">
                            <p>Already have an account?</p>
                            <a class="btn btn-outline-primary w-100" th:href="@{/login}">LOGIN</a>
                        </div>
                    </form>

                    <div th:if="${failedMessage}">
                        <div class="alert alert-danger text-center mt-3 mb-0" th:utext="${failedMessage}"></div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div layout:fragment="scripts">
        <script>
            // add an event listener for each input with class validate
            document.querySelectorAll('.validate').forEach(input => {
                input.addEventListener('blur', function () {
                    if (this.value.trim() === '') {
                        // add is-invalid class when input is empty
                        this.classList.add('is-invalid');
                    } else {
                        // remove is-invalid class when input is not empty
                        this.classList.remove('is-invalid');
                    }
                });
            });

            // Check if confirmation password matches the password, and disable form submission if it doesn't.
            let passwordInput = document.getElementById('password');
            let repeatPasswordInput = document.getElementById('repeatPassword');
            let submitButton = document.getElementById('submit');

            repeatPasswordInput.addEventListener('blur', function () {
            
            if (this.value !== passwordInput.value) {
                this.classList.add('is-invalid');
                submitButton.disabled = true;
            } else {
                this.classList.remove('is-invalid');
                this.classList.add('is-valid');
                submitButton.disabled = false;
            }
            });

            // Hide username taken error once the user starts typing
            let usernameTakenError = document.getElementById('usernameTakenError');
            document.getElementById('username').addEventListener('input', function () {
                this.classList.remove('is-invalid');
                usernameTakenError.style.display = 'none';
            });
            // Hide email taken error once the user starts typing
            let emailTakenError = document.getElementById('emailTakenError');
            document.getElementById('email').addEventListener('input', function () {
                this.classList.remove('is-invalid');
                emailTakenError.style.display = 'none';
            });
        </script>
    </div>
</body>

</html>