<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Review</title>
</head>

<body>

<div layout:fragment="content">

    <div class="container w-75 mt-5">
      <h3 class="mb-4"><b>WRITE A REVIEW</b></h3>
      <form th:action="@{/product/{productId}/createReview (productId = ${productId})}" method="post">
        <div class="form-group mb-3">
          <label for="rating" class="form-label">Rating</label>
          <div class="rating-stars">
            <input type="radio" id="5-stars" name="rating" value="5"/>
            <label for="5-stars" class="star"><i class="bi bi-star-fill px-1"></i></label>
            <input type="radio" id="4-stars" name="rating" value="4"/>
            <label for="4-stars" class="star"><i class="bi bi-star-fill px-1"></i></label>
            <input type="radio" id="3-stars" name="rating" value="3"/>
            <label for="3-stars" class="star"><i class="bi bi-star-fill px-1"></i></label>
            <input type="radio" id="2-stars" name="rating" value="2"/>
            <label for="2-stars" class="star"><i class="bi bi-star-fill px-1"></i></label>
            <input type="radio" id="1-star" name="rating" value="1"/>
            <label for="1-star"  class="star"><i class="bi bi-star-fill px-1"></i></label>
          </div>
        </div>
        <div class="form-group mb-3">
          <label for="comment" class="form-label">Product Review</label>
          <textarea class="form-control" name="comment" id="comment" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit Review</button>
      </form>
    </div>

</div>

</body>

</html>
